@font-face {
  font-family: 'Founders Grotesk';
  src: url('./fonts/FoundersGrotesk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./fonts/FoundersGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./fonts/FoundersGrotesk-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./fonts/FoundersGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/LibreFranklin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/LibreFranklin-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/LibreFranklin-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/LibreFranklin-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('./fonts/LibreFranklin-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}